
@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px !important;
        line-height: 46px !important;
        }
        h2 {
        font-size: 27px !important;
        line-height: 31px !important;
        }
        h3 {
        font-size: 24px !important;
        line-height: 28px !important;
        }
        h4 {
        font-size: 20px !important;
        line-height: 23px !important;
        }
        h5 {
        font-size: 17px !important;
        line-height: 19px !important;
        }
        h6 {
        font-size: 17px !important;
        line-height: 20px !important;
        }
        
                
    .m-600-wi-100 {
        width: 100%;
    }

    .woman-image-container {
        width: 80vw; 
        height: 73.6vw; 
    }
    
    .div-definition {
        flex: 1 0 auto;
    }
    
    .tabs-container li a {
        padding: 5px 10px;
    }
}