
@media screen and (max-width: 1200px) {
    body {
        padding: 0 3%;
    }
    h1 {
        font-size: 67px !important;
        line-height: 78px !important;
        }
        h2 {
        font-size: 45px !important;
        line-height: 52px !important;
        }
        h3 {
        font-size: 40px !important;
        line-height: 47px !important;
        }
        h4 {
        font-size: 33px !important;
        line-height: 39px !important;
        }
        h5 {
        font-size: 28px !important;
        line-height: 33px !important;
        }
        h6 {
        font-size: 29px !important;
        line-height: 34px !important;
        }
        
                
    
    .m-1200-wi-100 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
        
        
        
        
        
        
        
        
        
        
        
        
}


