
@media screen and (max-width: 750px) {
    h1 {
        font-size: 48px !important;
        line-height: 55px !important;
        }
        h2 {
        font-size: 32px !important;
        line-height: 37px !important;
        }
        h3 {
        font-size: 29px !important;
        line-height: 34px !important;
        }
        h4 {
        font-size: 24px !important;
        line-height: 28px !important;
        }
        h5 {
        font-size: 20px !important;
        line-height: 23px !important;
        }
        h6 {
        font-size: 21px !important;
        line-height: 24px !important;
        }
        
        
        
    .m-750-wi-90 {
        width: 90%;
    }


    .woman-image-container {
        width: 80vw; 
        height: 73.6vw; 
    }
    
    .div-footer-menus {
        /*grid-template-columns: minmax(auto-fit, 1fr);*/
        /*column-gap: 0;*/
        display: initial;
    }

    .tabs-container li a {
        padding: 5px 15px;
    }

}