
@media screen and (max-width: 600px) {
    h1 {
        font-size: 32px !important;
        line-height: 35px !important;
    }

    .m-600-wi-100 {
        width: 100%;
    }

    .woman-image-container {
        width: 100vw; 
        height: 92vw; 
    }
    
    .div-definition {
        flex: 1 0 auto;
    }
}