
@media screen and (max-width: 1000px) {
    
    h1 {
        font-size: 50px !important;
        line-height: 52px !important;
    }

    .media-1000-width-70 {
        width: 70%;
    }

    .header {
        flex-flow: wrap column-reverse;
    }
    
    .nav {
        /*display: initial;*/
    }


    .woman-image-container {
        width: 50vw; 
        height: 46vw; 
        margin:auto;
    }
}