
@media screen and (max-width: 1000px) {
    
    h1 {
        font-size: 50px !important;
        line-height: 52px !important;
    }

    .m-1000-wi-70 {
        width: 70%;
    }
    
    .m-1000-flx-col {
        flex-flow: wrap column;
    }
    .m-1000-flx-col-rev {
        flex-flow: wrap column-reverse;
    }
    /*
    .header {
        flex-flow: wrap column-reverse;
    }*/

    .nav {
        /*display: initial;*/
    }


    .woman-image-container {
        width: 50vw; 
        height: 46vw; 
        margin:auto;
    }
}