
@media screen and (max-width: 750px) {
    
    h1 {
        font-size: 38px !important;
        line-height: 40px !important;
    }

    .m-750-wi-90 {
        width: 90%;
    }


    .woman-image-container {
        width: 80vw; 
        height: 73.6vw; 
    }

}