@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root {
    --primary-font: "Poppins" ,arial;
    --secondary-font: "Inter" ,arial;
}

body{
    font-family: var(--primary-font);
}

/* Make margin, padding 0 */
body, ul, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


.navbar-wrapper {
    width: 78%;
    margin: 40px auto 80px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

nav {
    width: 86%;
}

.primary-nav {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
}

.list-menu li a {
    list-style-type: none;
    text-decoration-line: none;
    color: black;
    font-size: 1em;
}

.primary-nav li {
    flex-grow: 9;
    list-style-type: none;
    display: flex;
    align-items:center;
    /*
    align-content: center ;
    */
}

.primary-nav li a {
    line-height: 45px;
}

.primary-nav li a:hover {
    color: #a51010;
    text-decoration-line: underline;
}
.primary-nav li a:active {
    color: #10a53d;
}

.primary-nav li a:focus {
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration-thickness: 2px;
}

.primary-nav li:first-child {
    flex-grow: 24;
}

.primary-nav li:nth-child(5) {
    flex-grow: 30;
    display: flex;
    justify-content: flex-end;
    height: 20px;
    border-right: 1px solid #DAD8D8;
    padding-right: 3%;
}

.last-menu-item {
    padding-left: 3%;
    flex-grow: 20;
}

.last-menu-item a {
    margin-left: 6px;
}

.last-menu-item::before {
    content:"";
    width: 20px;
    height: 20px;
    background-image: url("backgrounds/phone.svg");
    background-size: contain;
    background-position: center;
}

header {
    width: 84%;
    margin: 0 auto 80px 8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 }

 /* Tab container style */

.services-container {
    width: 50%;
    /*margin-right: 7%;*/
}

.tabs-container {
    margin-bottom: 60px;
}

.tabs-container ul {
    display: flex;
    /*margin:0 0 0 1em;*/
    padding:0;
    display: flex;
    justify-content: flex-start;
}

.tabs-container h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 4em;
    line-height: 77px;
    color: #2E2E2E;
    margin: 26px 0 34px;
}

.tabs-container li {
    list-style-type: none;
    border-radius: 5px 5px 0 0;
}

.tabs-container li a {
    padding: 5px 20px;
    display: inline-block;
    text-decoration-line: none;
}

.tabs-container .tab-content {
    display: none;
    /*padding: .3em 1em;*/
    border-radius: 8px;
}

.hidden-button-tab {
    color: rgba(214, 212, 212, 0.88);
    border-bottom: 1px solid rgba(185, 157, 157, 0.88);
}

.displayed-button-tab {
    font-style: normal;
    font-weight: 600;
    color: #B00000;
    border-bottom: 1px solid #B00000;
}

.tab-content-paragraph {
    font-family: var(--secondary-font);
    font-size: 1em;
    line-height: 1.75em;
    letter-spacing: 0.05em;
    color: #808080;
}
/* end tabs container style */

.buttons-nav {
    display: flex;
}

.buttons-nav li{
    list-style-type: none;
}
.link-button {
    font-size: 14px;
    line-height: 24px;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    text-decoration-line: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.link-button:hover {
    color: white;
    background: #B00000;
    border: none;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);

}

.buttons-nav li:first-child  {
    margin-right: 4%;
}

.woman-image-container {
    position: relative;
    background-image: url("backgrounds/woman.jpg");
    width: 38vw; 
    height: 35vw; 
    background-size: 91% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.triangle  {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.big-trianlge {
    width: 5vw;
    height: 5vw;
    background-image: url("backgrounds/big-triangle.svg");
    top: 78%;
    right: 0;
}

.small-right-trianlge {
    width: 3vw;
    height: 3vw;
    background-image: url("backgrounds/small-right-triangle.svg");
    top: 12%;
    right: 0;
}

.small-left-trianlge {
    width: 3vw;
    height: 3vw;
    background-image: url("backgrounds/small-left-triangle.svg");
    top: 60%;
}


.woman-image {
    margin: 16px 2% 0;
    width: 100%;
    height: auto;
    max-width: 501px;
}

.section-definition {
    width: 89%;
    margin: 0 auto 135px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.div-definition {
    width: 46%;
}

.div-definition h3 {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 3em;
    line-height: 64px;
    /* identical to box height, or 133% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}

.div-definition p {
    font-family: var(--secondary-font);
    font-size: 1.125em;
    line-height: 32px;
    /* or 178% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    margin: 48px 0;
}

.div-web-tools {
    width: 48%;
    display: grid;
    /*
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    */
}

.div-images-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 92px;
}