.switch-container {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    width: 93px;
    height: 50px;
    background: #B00000;
    border-radius: 73px;
    padding: 9px;
    box-sizing: border-box;
}

.switch-container-flex-end {
    justify-content: flex-end;
    background: #12898d;
}

.switch-ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}